.SideBar
  .LeftHeader
    .LeftHeaderBox
      .Username
        = current_user.name
      .Icons
        .Icon__left
          = link_to new_group_path(current_user), class:"Icon__left" do
            = icon('far', 'edit')
        .Icon__right  
          = link_to edit_user_path(current_user), class:"Icon__right" do  
            = icon('fas', 'cog')
  .GroupLists
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            メッセージはまだありません
